# Porta do Servidor Express
PORT=3000

# Chave de API do Google Gemini
GEMINI_API_KEY=sua_chave_de_api_aqui

# Tipo de Conversor de PDF: 'word' (para usar MS Word via PowerShell no Windows) ou 'none'
PDF_CONVERTER_TYPE=word
